# --- MONGODB CONFIGURATION ---
# Credenciales para la base de datos
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password123
MONGO_DB=proyecto_final

# --- CONFIGURACIÓN DE INTELIGENCIA ARTIFICIAL ---
# Escribe "ollama" para usar tu GPU local, o "openrouter" para usar la nube
LLM_PROVIDER=openrouter
# Configuración si usas Ollama
OLLAMA_MODEL=qwen2.5:14b
# Configuración si usas OpenRouter
OPENROUTER_API_KEY=tu_clave_secreta_aqui
OPENROUTER_MODEL=google/gemma-2-9b-it:free

# --- MINIO (STORAGE) CONFIGURATION ---
# Credenciales para el servidor de archivos MinIO
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_password
MINIO_BUCKET=documents